<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448692615741-c2a0muc1pk3jv1622hm4r3rck5r398nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448692615741-c2a0muc1pk3jv1622hm4r3rck5r398nb</string>
	<key>API_KEY</key>
	<string>AIzaSyClvyKkcXPpMUBrhSvU1QWePZn-rBgJDBc</string>
	<key>GCM_SENDER_ID</key>
	<string>448692615741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.waterdetection</string>
	<key>PROJECT_ID</key>
	<string>water-detection-73728</string>
	<key>STORAGE_BUCKET</key>
	<string>water-detection-73728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448692615741:ios:23b8d30829d78dac3a8854</string>
	<key>DATABASE_URL</key>
	<string>https://water-detection-73728-default-rtdb.firebaseio.com</string>
</dict>
</plist>